.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(var(--blur-sm));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background: rgba(255, 255, 255, 0.4);
    border-radius: var(--radius-card);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
    padding: 2rem 3rem;
    max-width: 420px;
    text-align: center;
    transform: scale(0.95);
    transition: transform 0.3s ease;
    box-shadow:
        inset 1px 1.5px 2px rgba(255, 255, 255, 0.6),
        inset 1px -0.5px 2px rgba(255, 255, 255, 0.3),
        0 0.6px 0.6px -1.25px rgba(0, 0, 0, 0.15),
        0 2.28px 2.28px -2.5px rgba(0, 0, 0, 0.15),
        0 10px 10px -3.75px rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(var(--blur-xl));
    -webkit-backdrop-filter: blur(var(--blur-xl));
    border-radius: clamp(0.8rem, 2vw, 30px);
}

.overlay.show .modal {
    transform: scale(1);
}

.modal h4 {
    color: var(--color-text-900);
    font-weight: 600;
    font-size: clamp(1.8rem, 2vw, 3rem);
    margin: 0;
    margin-bottom: clamp(0.6rem, 0.3vh, 1.2rem);
    line-height: 1.15;
}

.modal p {
    color: var(--color-text-700);
    font-weight: 500;
    font-size: clamp(1rem, 1.3vw, 1.3rem);
    margin: 0;
    margin-bottom: clamp(1rem, 0.25vh, 2rem);
    line-height: 1.2;
}

.modal button {
    padding: 10px 20px;
    border-radius: var(--radius-pill);
    background-color: var(--color-iris-dark);
    color: var(--color-white);
    opacity: 0.7;
    border: none;
    align-self: center;
    height: auto;

    margin-top: 0.4rem;

    box-shadow: var(--shadow-button);
    transition:
        background-color 0.25s,
        box-shadow 300ms ease-in-out,
        color 300ms ease-in-out,
        background 0.4s,
        transform 0.4s ease;
    opacity: 0.4s ease;
    filter: 0.4s ease;
}

.modal button:hover {
    transform: scale(1.08);
    opacity: 0.85;
    background-color: var(--color-iris-dark-strong);
    color: var(--color-white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
