#webgazerVideoContainer {
  /* z-index: 1000;  /* above blur */
  top: 10px !important;
  left: 10px !important;
}

#webgazerFaceFeedbackBox {
  border-radius: 0.8rem;
}

#webgazerVideoFeed {
  border-radius: 0.8rem;
  box-shadow: var(--shadow-card);
}

#webgazerGazeDot {}