/* General layout */
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: white;
  overflow: hidden;
  position: relative;
  
}

.book-container::-webkit-scrollbar {
  display: none;
}

.book-stack {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  gap: 20px;
  transition: transform 0.4s ease;
  will-change: transform;
  padding: 0;
  margin: 0;
}

.bg-book-1 {
  --home-bg1: #a34f92;
  --home-bg2: #356c98;
  --home-bg3: #fefbff;
  --home-bg4: #b696cf;
}

.bg-book-2 {
  --home-bg1: #efd1c9;
  --home-bg2: #b64232;
  --home-bg3: #f7de5b;
  --home-bg4: #080200;
}

.bg-book-3 {
  --home-bg1: #ff8000;
  --home-bg2: #dda3b2;
  --home-bg3: #7d7abc;
  --home-bg4: #cbeef3;
}

.bg-book-4 {
  --home-bg1: #ff8000;
  --home-bg2: #dda3b2;
  --home-bg3: #7d7abc;
  --home-bg4: #cbeef3;
}

.background {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(-45deg, var(--home-bg1), var(--home-bg2), var(--home-bg3), var(--home-bg4));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition:
    background 3s ease,
    --home-bg1 3s ease,
    --home-bg2 3s ease,
    --home-bg3 3s ease,
    --home-bg4 3s ease;
  color: var(--color-white);
  font-family: var(--font-sans);
  perspective: 1000px;
}

.gaze-zone-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 5;
}

.gaze-zone-overlay .zone {
  border: 0.5px dashed rgba(255, 0, 0, 0.05);
  background: rgba(255, 0, 0, 0.02);
  box-sizing: border-box;
  height: 75%;
  transform: translateY(-0.625rem);
}

.gaze-zone-overlay .left-zone,
.gaze-zone-overlay .right-zone {
  position: absolute;
  top: 50%;
  height: 100%;
  width: 12%;
  transform: translateY(-50%) translateY(-0.625rem);
}

.gaze-zone-overlay .zone.active {
  border-color: rgba(0, 200, 0, 0.05);
  background: rgba(0, 200, 0, 0.02);
}

.gaze-zone-overlay .left-zone {
  left: 0;
}

.gaze-zone-overlay .right-zone {
  right: 0;
}

.gaze-zone-overlay .center-zone {
  position: absolute;
  transform: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
