/* General layout */
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: white;
  overflow: hidden;
  position: relative;
  
}

.book-container::-webkit-scrollbar {
  display: none;
}

.book-stack {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  gap: 20px;
  transition: transform 0.4s ease;
  will-change: transform;
  padding: 0;
  margin: 0;
}

/* Background */
.bg-book-1 {
  --bg1: #A34F92;
  --bg2: #356C98;
  --bg3: #FEFBFF;
  --bg4: #B696CF;
}

.bg-book-2 {
  --bg1: #EFD1C9;
  --bg2: #B64232;
  --bg3: #F7DE5B;
  --bg4: #080200;
}

.bg-book-3 {
  --bg1: #FF8000;
  --bg2: #DDA3B2;
  --bg3: #7D7ABC;
  --bg4: #CBEEF3;
}

.background {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(-45deg, var(--bg1), var(--bg2), var(--bg3), var(--bg4));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition:
    background 3s ease,
    --bg1 3s ease,
    --bg2 3s ease,
    --bg3 3s ease,
    --bg4 3s ease;
  color: var(--color-white);
  font-family: var(--font-sans);
  perspective: 1000px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
