/* READ Button wrapper and button */
.button-wrapper {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  width: 112px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.button {
  width: 112px;
  height: 72px;
  padding: 6px 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  pointer-events: auto;
  z-index: 1;

  font-size: 1.3rem;
  letter-spacing: 0.5px;
  color: #fff;
  text-decoration: none;
  background-color: #fe2c55;
  border: 0.5px solid #ff3b30;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition:
    background-color 0.4s ease,
    box-shadow 0.3s ease,
    color 0.3s ease,
    transform 0.4s ease,
    opacity 0.4s ease,
    filter 0.4s ease;
}

.read-button {
  will-change: transform, opacity, filter;
  backface-visibility: hidden;
  transform: translateZ(0);
  opacity: 1;
  filter: none;
  transition:
    opacity 0.4s ease,
    filter 0.4s ease,
    transform 0.4s ease,
    background-color 0.3s ease;
}

.book-card.left .read-button,
.book-card.right .read-button {
  opacity: 0.6;
  filter: blur(0.2rem);
}

.book-card.centered .button:hover {
  transform: scale(1.15);
  box-shadow: 0 0 40px #ea284e inset;
  background-color: #fe2c55;
}

/* NAVBAR Button wrapper and button */

/* Nav Button Setup */

.nav-button {
    padding: 10px 20px;
    border-radius: 50em;
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    opacity: 0.7;
    border: none;
    align-self: center;
    height: auto;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition:
        background-color 0.25s,
        box-shadow 300ms ease-in-out,
        color 300ms ease-in-out,
        background 0.4s,
        transform 0.4s ease;
    opacity 0.4s ease,
    filter 0.4s ease;
}

.nav-button:hover {
    transform: scale(1.08);
    opacity: 0.85;
    background-color: rgba(51, 51, 51, 0.85);
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar-button-container.group:hover .nav-button:hover {
    transform: scale(1.08);
}

/* SVG Nav Button Setup */

.nav-button.svg-button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    transition: width 0.3s ease;
    overflow: hidden;

    transform: translateZ(0);

    gap: 6px;

    line-height: 0;
    padding: 0;
}

.nav-button.svg-button svg {
    width: 21px;
    height: 21px;
    display: block;
    pointer-events: none;

    transform-origin: center center;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease;

    opacity: 0.7;
}

.nav-button.svg-button:hover {
    width: 120px;
    transform: scale(1.05);
}

.nav-button.svg-button:hover svg {
    transform: scale(1.05);
    opacity: 0.85;
}

/* SVG Nav Button Label Setup */

.svg-label {
    display: none;
    opacity: 0.7;
    transition: all 0.3 ease;
}

.nav-button.svg-button:hover .svg-label {
    display: inline;
    opacity: 0.85;
}