/* Navbar Button Container Setup */

.navbar-button-container {
    bottom: clamp(4vh, 6vh, 8vh);
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 2;
    flex-direction: row;
    flex-wrap: wrap;

    transition:
        all 4s ease;
}

.navbar-button-container.big-gap {
    gap: 15px;
}

.navbar-button-container.group {
    border-radius: var(--radius-pill);
    padding: 10px 15px;
    border: none;
}

.dark {
    background-color: var(--color-iris-panel);
    gap: 12px;

    box-shadow: var(--shadow-button);
    transition:
        background-color 0.25s,
        box-shadow 300ms ease-in-out,
        color 300ms ease-in-out,
        background 0.4s,
        transform 0.4s ease;
    opacity: 0.4s ease;
    filter: 0.4s ease;
}

.dark:hover {
    background-color: var(--color-iris-panel-strong);

    opacity: 0.9;
}

.navbar-button-container.group:hover {
    transform: scale(1.02);
}
