/* NAVBAR Button wrapper and button */

/* Nav Button Setup */

.nav-button {
    padding: 10px 20px;
    border-radius: var(--radius-pill);
    background-color: var(--color-iris-dark);
    color: var(--color-white);
    opacity: 0.7;
    border: none;
    align-self: center;
    height: auto;

    box-shadow: var(--shadow-button);
    transition:
        background-color 0.25s,
        box-shadow 300ms ease-in-out,
        color 300ms ease-in-out,
        background 0.4s,
        transform 0.4s ease;
    opacity: 0.4s ease;
    filter: 0.4s ease;
}

.nav-button:hover {
    transform: scale(1.08);
    opacity: 0.85;
    background-color: var(--color-iris-dark-strong);
    color: var(--color-white);
    box-shadow: var(--shadow-button);
}

.navbar-button-container.group:hover .nav-button:hover {
    transform: scale(1.08);
}

/* SVG Nav Button Setup */

.nav-button.svg-button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    transition: width 0.3s ease;
    overflow: hidden;

    transform: translateZ(0);

    gap: 6px;

    line-height: 0;
    padding: 0;
}

.nav-button.svg-button svg {
    width: 21px;
    height: 21px;
    display: block;
    pointer-events: none;

    transform-origin: center center;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.3s ease;

    opacity: 0.7;
}

.nav-button.svg-button:hover {
    width: 120px;
    transform: scale(1.05);
}

.nav-button.svg-button:hover svg {
    transform: scale(1.05);
    opacity: 0.85;
}

/* SVG Nav Button Label Setup */

.svg-label {
    display: none;
    opacity: 0.7;
    transition: all 0.3 ease;
}

.nav-button.svg-button:hover .svg-label {
    display: inline;
    opacity: 1;
}
