body {
  font-family: var(--font-sans);
  color: var(--color-text-900);
  background-color: var(--color-white);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: inherit;
  letter-spacing: -0.015em;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
